<ion-menu menuId="second-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Streaming Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button (click)="loginWithSpotify()" expand="full" color="primary">
      Login with Spotify
    </ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <app-header [title]="'Streaming'" (search)="getSearchQuery($event)" (menu)="openMenu($event)"></app-header>
  <ion-content [fullscreen]="true">
    <h1 class="text-center" *ngIf="!userprofile">Login Required</h1>
  </ion-content>
</div>

