<ion-header [translucent]="true" style="padding-top: 32px;">
  <ion-toolbar>
    <ion-title>Playlists</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="onSearchChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--padding-bottom: 80px;">
  <ion-list>
    <ng-container *ngFor="let playlist of filteredPlaylists">
      <ion-item (click)="openPlaylist(playlist.id)">
        <img slot="start" [src]="playlist.images[0]?.url" alt="Playlist Art" style="width: 48px; height: 48px; object-fit: cover;" />
        <div>
          <div>{{ playlist.name }}</div>
          <div class="ion-text-wrap ion-text-sm" style="font-size: 0.9em; color: #aaa;">
            {{ playlist.owner?.display_name }}
          </div>
          <div class="ion-text-wrap ion-text-sm" style="font-size: 0.85em; color: #888;">
            Tracks: {{ playlist.tracks?.total }}
          </div>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadPlaylists($event)" *ngIf="!allLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more playlists..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
